body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: cadetblue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav-list {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem 2rem;
}

#welcome-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #98c8bd;
}

.profilePic{
    max-width: 250px;
}

h1 {
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
}

#welcome-section span {
    display: inline;
    color: #fff;
    font-size: 2rem;
}

.cursor{
    animation :flash 0.5s linear infinite;
    margin-left: -15px;
}

@keyframes flash{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.skill-section{
    padding: 2rem 0;
    background-color: cornflowerblue;
    text-align: center;
    height: 100vh;
    display: flex;
    gap: 5rem;
    flex-direction: column;
    justify-content: center;
}

.aboutMeTextContainer{
    margin: 0 auto;
    background-color: rgb(55, 115, 227);
    color: white;
    max-width: 51rem;
    border-radius: 10px;
    text-align: left;
    padding: 1rem;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.picContainer{
    width: 50rem;
    height: 9rem;
    overflow: hidden;
    position: relative;
}

.picContainer > .list{
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 5px;
}

.skillPics{
    width: 9rem;
    height: 9rem;
    object-fit: cover;
    border-radius: 5px;
}

.projects {
    text-align: center;
    background-color: #45567d;
    padding: 8rem 2rem;
}

/* /* .project-container {
    position: relative;
    display: inline-block;
} */
/* 
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.hover_text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: .5s ease;
    z-index: 2;
}

.project-container:hover .overlay {
    opacity: 1;
}

.project-container:hover .hover_text {
    opacity: 1;
} */ 


h2 {
    font-size: 3.2rem;
    color: #fff;
}

@media (max-width: 800px) {
    h2 {
        font-size: 2rem;
    }
}

.projects-img {
    height: calc(100% - 4.8rem);
    width: 100%;
    object-fit: cover;
    padding: 0;
    border-radius: 7px;
}

.projects-title {
    color: #fff;
    width: 100%;
    background-color: #303841;
    margin: 0;
    padding: 2rem 0;
    border-radius: 7px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

#contact {
    background-color: #303841;
    width: auto;
    height: 100vh;
    margin: 0;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-header p {
    color: #fff;
    font-style: italic;
    font-weight: 100;
    font-size: 1.7rem;
    text-align: center;
}

#contact-links ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#contact-links ul li {
    padding: 10px;
}

.icon {
    color: #fff;
    font-size: 1.3em;
}

@media (max-width:1000px) {
    #contact-links ul {
        grid-template-columns: repeat(2, 1fr);
    }

    h1 {
        font-size: 3rem;
        font-weight: 500;
    }

    .aboutMeTextContainer{
        max-width: 35rem;
    }

    .picContainer{
        width: 37rem;
    }

}

@media (max-width: 600px) {
    #contact-links ul {
        grid-template-columns: repeat(1, 1fr);
    }

    #welcome-section {
        height: 70vh;
    }

    h1 {
        font-size: 1.5rem;
        font-weight: 300;
    }

    a {
        font-size: 1rem;
    }

    .profilePic{
        max-width: 150px;
    }
    
    #welcome-section span {
        display: inline;
        color: #fff;
        font-size: 1.2rem;
    }

    .aboutMeTextContainer{
        max-width: 20rem;
    }

    .picContainer{
        width: 22rem;
    }

}